mixin OptionHelper(OptionID,OptionName,SelectedValue)
    if SelectedValue == OptionName
        option(value="#{OptionID}" selected) #{OptionName} 
    else
        option(value="#{OptionID}") #{OptionName} 
        block
mixin formButton(FormItemID,FormItemDisplay,ButtonClass)
        input(type="submit", value='#{FormItemDisplay}', id='#{FormItemID}',  class='btn #{ButtonClass}')
        block

mixin DisplayOutpServicesWithCheckBoxes(AvaiableOutputServices)  
   each AvaiableOutputService, a in AvaiableOutputServices
          input(type='checkbox',name='#{AvaiableOutputService.Name}')
          label #{AvaiableOutputService.Name}
          br
          block
             
mixin DisplayOuputStream(OutputStream)       
    input(type='text', name='#{OutputStream}' class='form-control' disabled value="#{OutputStream}") 

mixin DisplayInputStream(InputStream,FormID,AvaiableInputs)
    -if(ID == 0) 
        input(type='text', name='#{InputStream}_#{FormID}' class='form-control' disabled value="#{InputStream}")
    -else
        +AvailableOutputStreamList(FormID,AvaiableInputs)

mixin DisplayDeleteButton(ID)
    -if(ID != 0)
        a(href='streamrouter/Delete?ID=#{ID}' , class='btn btn-danger')  Delete

mixin AvailableOutputStreamList(FormID,InputStreams)
    select(id='InputStream' name='InputStream_#{FormID}', class='form-control')
            each InputStream, e in InputStreams
                +OptionHelper(e,InputStream)
     
      
       
mixin DisplayInputOutTable(ConfiguredInputOutputs,AvailableEncoders,AvaiableInputs)
    form(name="settingsForm", action='streamrouter/Update'   method="post")                 
        each ConfiguredInputOuput, c in ConfiguredInputOutputs
            tr       
                td     
                    +DisplayInputStream(ConfiguredInputOutputs.InputStream,c,AvaiableInputs)
                td          
                    +DisplayAndSelectEncoderSettingList(c,AvailableEncoders,ConfiguredInputOuput.ID)
                td               
                    +DisplayOuputStream(ConfiguredInputOuput.OutputStream)
                td
                   +DisplayDeleteButton(c)
        tr
            td        
                +formButton(1,"Save","btn-success")         
                a(href='streamrouter/Add' , class='btn btn-primary') Add Encoder             
                
 
mixin DisplayAndSelectEncoderSettingList(FormID,avail,SelectedEncoderID)
        select(id='EncoderSettings' name='EncoderSettings_#{FormID}', class='form-control')
            each availableEncoder, e in avail
                +OptionHelper(availableEncoder.ID,availableEncoder.Bitrate + "_" + availableEncoder.OutputResolution + "_" +   availableEncoder.Framerate,SelectedEncoderID)
 
mixin DisplayOutputServices(AvailableOuputs,AvailableOutputs)
    each AvailableOuput, e in AvailableOuputs
        tr
            td 
                p #{AvailableOuput}
            td 
                +DisplayOutpServicesWithCheckBoxes(AvailableOutputs)


   
                                

           