mixin OptionHelper(OptionName,SelectedValue,OptionID)
    -var OptionValue = OptionID
    if OptionValue == undefined
        -OptionValue = OptionName   
    if SelectedValue == OptionName
        option(value="#{OptionValue}" selected) #{OptionName} 
    else
        option(value="#{OptionValue}") #{OptionName} 
        block
mixin formButton(FormItemID,FormItemDisplay,ButtonClass)
        input(type="submit", value='#{FormItemDisplay}', id='#{FormItemID}',  class='btn #{ButtonClass}')
        block

mixin DisplayOutpServicesWithCheckBoxes(AvaiableOutputServices,LocalOutput)  
   each AvaiableOutputService, a in AvaiableOutputServices
          input(type='checkbox',name='#{AvaiableOutputService.Name}_#{LocalOutput}')
          label #{AvaiableOutputService.Name}
          br
          block
             
mixin DisplayOuputStream(OutputStream)       
    input(type='text', name='#{OutputStream}' class='form-control' disabled value="#{OutputStream}") 

mixin DisplayInputStream(InputStream,ID,AvaiableInputs)
    -if(ID == 0) 
        input(type='text', id="InputStream_#{ID}" class='form-control' disabled value="#{AvaiableInputs[0]}")
        input(type='hidden',value="#{AvaiableInputs[0]}" name="InputStream")
    -else
        +AvailableOutputStreamList(AvaiableInputs,ID)
        block

mixin AvailableOutputStreamList(InputStreams,ID)
    select(id='InputStream_#{ID}' name='InputStream', class='form-control')
            each InputStream, e in InputStreams
                +OptionHelper(InputStream,ID)
                block

mixin DisplayDeleteButton(ID)
    -if(ID != 0)
        a(href='streamrouter/Delete?ID=#{ID}' , class='btn btn-danger')  Delete


     
      
       
mixin DisplayInputOutTable(ConfiguredInputOutputs,AvailableEncoders,AvaiableInputs)                    
        each ConfiguredInputOuput, c in ConfiguredInputOutputs
            tr       
                td     
                    +DisplayInputStream(ConfiguredInputOutputs.InputStream,c,AvaiableInputs)
                td          
                    +DisplayAndSelectEncoderSettingList(AvailableEncoders,ConfiguredInputOuput.ID)
                td               
                    +DisplayOuputStream(ConfiguredInputOuput.OutputStream)
                td
                   +DisplayDeleteButton(c)
        tr
            td        
                +formButton(1,"Save","btn-success")         
                a(href='streamrouter/Add' , class='btn btn-primary') Add Encoder             
                
 
mixin DisplayAndSelectEncoderSettingList(avail,SelectedEncoderID)
        select(id='EncoderSettings_#{SelectedEncoderID}' name='EncoderSettings', class='form-control')
            each availableEncoder, e in avail
                +OptionHelper(availableEncoder.Bitrate + "_" + availableEncoder.OutputResolution + "_" +   availableEncoder.Framerate,SelectedEncoderID,availableEncoder.ID)
 
mixin DisplayOutputServices(AvailableInputs,AvailableOutputs)
    each AvailableOuput, e in AvailableInputs
        tr
            td 
                p #{AvailableOuput}
            td 
                +DisplayOutpServicesWithCheckBoxes(AvailableOutputs,AvailableOuput)


   
                                

           